.main{
    height: 200px;
   width:fit-content;
    color: red;
    margin: auto;
}

.title{
    font-size: 2em;
    text-align:center;
    color: blue;
}

.centerHorizontal{
    width:fit-content;
    margin:auto;
    text-align:center;

}

.form{
    display: flex;
    flex-direction: column;
}

.formItem{
    margin-top:0.3em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}
.formInput{
    flex-grow: 1;
}

.inlineElements{
    display:inline-flex;
}